body{
background-image: url('https://c4.wallpaperflare.com/wallpaper/178/586/542/music-hebus-1920x1200-wallpaper-preview.jpg');
background-repeat: no-repeat;
background-size: cover;
}
h1{
color: blue;
}
p{

}


